<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steadytech.impian" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ImpianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Impian" >
        <activity android:name=".adapter.MenuAdapter" >
        </activity>
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.SigninActivity" />
        <activity android:name=".activity.SplashscreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PortfolioActivity" />
        <activity android:name=".activity.AboutGoalsActivity" />
        <activity android:name=".activity.DetailGoalsActivity" />
        <activity android:name=".activity.AddBalanceActivity" />
        <activity android:name=".activity.SuccessActivity" />
        <activity android:name=".activity.CreateGoalsActivity" />
        <activity android:name=".activity.MainActivity" />

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>